<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees List</title>
</head>

<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="logo">Todo App</a>
        <ul class="left">
            <li><a th:href="@{/}">Home</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Employee List</h1>
        <!-- <a href="/employee/add">Add Employee</a>-->
    <div>
        <div th:each="employee : ${employees}">
            <h2 th:text="${employee.id}">Employee ID</h2>
        </div>
    </div>
</div>
</body>
<script>
    document.getElementById("themeToggle").addEventListener("click", function () {
        document.body.classList.toggle("dark-theme");

    });
</script>
</html>